body {
    background-color: azure;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    font-family: 'Poppins',sans;
}

li {
    display: flex;
    flex-direction: row;

    background-color: orange;
    color: black;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.get-jokes:hover {
    color: white;
    transition: 0.3s;
    background-color: black;
}